<dialog :open="createUserDialog.show?'true':null">
    <article>
        <header>
            <button rel="prev" @click="closeUserDialog()" aria-label="Close"></button>
            <p th:text="#{user.all.new_user}">New User</p>
        </header>

        <s-service-error :errors="errors"></s-service-error>

        <s-input :errors="errors" field="username" th:label="#{user.all.username}"
            v-model:value="createUserDialog.user.username"></s-input>

        <label>
            <span th:text="#{user.all.role}">Role</span>
            <select v-model="createUserDialog.user.role">
                <option :value="'EDITOR'">EDITOR</option>
                <option :value="'VIEWER'">VIEWER</option>
            </select>
        </label>

        <s-input :errors="errors" field="password" th:label="#{user.all.password}" type="password"
            v-model:value="createUserDialog.user.password"></s-input>

        <footer>
            <button @click="creareNewUser()" th:text="#{user.all.confirm}">Confirm</button>
        </footer>
    </article>
</dialog>