<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>

        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %pid --- %-50.50c : %msg%n"/>
        </Console>

        <RollingFile name="file"
                     fileName="log/application.log"
                     filePattern="log/application-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %pid --- %-50.50c : %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="1MB"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>

    </Appenders>

    <Loggers>

        <Root level="info">
            <AppenderRef ref="stdout"/>
            <AppenderRef ref="file"/>
        </Root>

<!--        <Logger name= "gnoolson.saturday" level="debug" additivity="false">-->
<!--            <AppenderRef ref="stdout"/>-->
<!--            <AppenderRef ref="file"/>-->
<!--        </Logger>-->

    </Loggers>
</Configuration>
